<footer>
        <div class="contact">
            <h2>SIGN UP FOR OUR NEWSLETTER</h2>
            <p class="lorem">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus
                tristique bibendum. Donec rutrum sed sem quis venenatis.
            </p>
            <div class="your-email">
                <form action="#" method="post">
                    <input type="email" name="Email" placeholder="Enter your email...." required=" ">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="main-footer">
                <div class="col-footer color-a">
                    <h4>Release</h4>
                    <ul>
                        <li><a href="#">2016</a></li>
                        <li><a href="#">2015</a></li>
                        <li><a href="#">2014</a></li>
                        <li><a href="#">2013</a></li>
                        <li><a href="#">2012</a></li>
                        <li><a href="#">2011</a></li>
                    </ul>
                </div>
                <div class="col-footer color-a">
                    <h4>Movies</h4>
                    <ul>
                        <li><a href="#">ADVENTURE</a></li>
                        <li><a href="#">COMEDY</a></li>
                        <li><a href="#">FANTASY</a></li>
                        <li><a href="#">ACTION</a></li>
                        <li><a href="#">MOVIES</a></li>
                        <li><a href="#">HORROR</a></li>
                    </ul>
                </div>
                <div class="col-footer">
                    <h4>REVIEW MOVIES</h4>
                    <ul class="btn-review-movies">
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Historical</a></li>
                        <li><a href="#">Romantic</a></li>
                        <li><a href="#">Love</a></li>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Reviews</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Historical</a></li>
                        <li><a href="#">Romantic</a></li>
                        <li><a href="#">Love</a></li>
                        <li><a href="#">Comedy</a></li>
                        <li><a href="#">Horror</a></li>
                        <li><a href="#">Historical</a></li>
                    </ul>
                </div>
                <div class="col-footer">
                    <h4>LATEST MOVIES</h4>
                    <div class="item-latest">
                        <div class="latest-img">
                            <a href=""><img src="~/footer/img/1.jpg" alt=""></a>
                        </div>
                        <div class="latest-img-detail">
                            <a href="">Eveniet Ut Molesti</a>
                        </div>
                    </div>
                    <div class="item-latest">
                        <div class="latest-img">
                            <a href=""><img src="~/footer/img/2.jpg" alt=""></a>
                        </div>
                        <div class="latest-img-detail">
                            <a href="">Eveniet Ut Molesti</a>
                        </div>
                    </div>
                    <div class="item-latest">
                        <div class="latest-img">
                            <a href=""><img src="~/footer/img/3.jpg" alt=""></a>
                        </div>
                        <div class="latest-img-detail">
                            <a href="">Eveniet Ut Molesti</a>
                        </div>
                    </div>
                    <div class="item-latest">
                        <div class="latest-img">
                            <a href=""><img src="~/footer/img/4.jpg" alt=""></a>
                        </div>
                        <div class="latest-img-detail">
                            <a href="">Eveniet Ut Molesti</a>
                        </div>
                    </div>
                </div>
                <div class="col-footer">
                    <h4 class="logo-footer">
                        <a href=""><span>M</span>OVIES <span>P</span>RO</a>
                    </h4>
                    </h4>
                    <div class="grid-img">
                        <div class="col-4">
                            <a href=""><img src="~/footer/img/m1.jpg" alt=""></a>
                        </div>
                        <div class="col-4">
                            <a href=""><img src="~/footer/img/m2.jpg" alt=""></a>
                        </div>
                        <div class="col-4">
                            <a href=""><img src="~/footer/img/m3.jpg" alt=""></a>
                        </div>
                        <div class="col-4">
                            <a href=""><img src="~/footer/img/m4.jpg" alt=""></a>
                        </div>
                        <div class="col-4">
                            <a href=""><img src="~/footer/img/m5.jpg" alt=""></a>
                        </div>
                        <div class="col-4">
                            <a href=""><img src="~/footer/img/m6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-link">
                <div>
                    <a href="">ICONS</a>
                    <a href="">SHORT CODES</a>
                    <a href="">CONTACT</a>
                </div>
            </div>
            <div class="connect-us">
                <h3>CONNECT US</h3>
                <div>
                    <ul>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin-in"></i></i></a></li>
                        <li><a href=""><i class="fab fa-youtube"></i></a></li>
                        <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <p id="back-top"></p>
    <script src="~/footer/js/all.js"></script>
	</div>
<div class="clearfix"></div>
	</div>