<div class="right-content">
    <div class="right-content-heading">
        <div class="right-content-heading-left">
            <h3 class="head">Latest Colletcion of videos</h3>
        </div>
    </div>
    <!-- pop-up-box -->
    <link href="~/template/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/template/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script>
				$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});
				});
    </script>
    <div class="content-grids">
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum1.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div id="small-dialog" class="mfp-hide">
            <iframe src="https://www.youtube.com/embed/2LqzF5WauAw" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum2.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum3.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="content-grid last-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum4.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum5.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum6.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum7.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="content-grid last-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum8.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum9.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum10.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="content-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum11.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="content-grid last-grid">
            <a class="play-icon popup-with-zoom-anim" href="~/template/#small-dialog"><img src="~/template/images/gridallbum1.jpg" title="allbum-name" /></a>
            <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
            <ul>
                <li><a href="~/template/#"><img src="~/template/images/likes.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/views.png" title="image-name" /></a></li>
                <li><a href="~/template/#"><img src="~/template/images/link.png" title="image-name" /></a></li>
            </ul>
            <a class="button play-icon popup-with-zoom-anim" href="~/template/#small-dialog">Watch now</a>
        </div>
        <div class="clearfix"> </div>
        <!---start-pagenation----->
        <div class="pagenation">
            <ul>
                <li><a href="~/template/#">1</a></li>
                <li><a href="~/template/#">2</a></li>
                <li><a href="~/template/#">3</a></li>
                <li><a href="~/template/#">4</a></li>
                <li><a href="~/template/#">5</a></li>
                <li><a href="~/template/#">Next</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
        <!---End-pagenation----->
    </div>
</div>
<div class="clearfix"> </div>
			</div>	